<h1>Boards#show</h1>

<p>What would you like to do?</p>
<%= link_to 'View Billboard', board_path(@board) %>
<br />
<%= link_to 'Edit Entry', edit_board_path(@board) %>
<br />
<%= link_to 'Delete Entry', @board, method: :delete %>